<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    {{form.invalid}}
    {{form.errors | json}}
    <div class="form-group">
      <label i18n for="type">Type</label>
      <input id="type" formControlName="typePresta" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label i18n for="client">client</label>
      <input id="client" formControlName="client" type="text" class="form-control">
      <div appInvalidMessage invalidRow="client">
        <p *invalidType="'required'">Champs obligatoire</p>
        <p *invalidType="'minlength'">Taille minimal X char</p>
      </div>
      <!--div class="alert alert-danger" *ngIf="form.get('client').invalid && form.get('client').touched">{{form.get('client').errors | json}}</div-->
    </div>
    <div class="form-group">
      <label i18n for="nbJours">nbJours</label>
      <input id="nbJours" formControlName="nbJours" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label i18n for="tjmHt">tjmHt</label>
      <input id="tjmHt" formControlName="tjmHt" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="form.get('tjmHt').invalid && form.get('tjmHt').touched"></div>
    </div>
    <div class="form-group">
      <label i18n for="tva">tva</label>
      <input id="tva" formControlName="tva" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label i18n for="comment">comment</label>
      <input id="comment" formControlName="comment" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label i18n for="state">Etat</label>
      <select id="state" formControlName="state" type="text" class="form-control">
        <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
      </select>
    </div>

    <app-btn [disabled]="form.invalid" typeButton="submit" label="Valider"></app-btn>

  </form>

</div>
