@import 'theme';
.table-light {
  .state-cancel {
    background: yellow;
  }
  .state-in-progress {
    animation:goodColors 5s  alternate infinite;
}
.state-confirm {
   background:cyan;
}

.state-actif {
  background:red;
}
.state-inactif {
  background:green;
}

@keyframes goodColors {
  0%   { background-color:red}
  50%  { background-color:blue }
  100% { background-color:green }
}

.cestlui {
  text-decoration: underline;
  background-color: 'green';
}
}

