<app-template-b title="Client">


<app-table-light [headers]="tableHeaders" *ngIf="clientList">
  <tr *ngFor="let client of clientList">
    <td [ngClass]="client.name==nameSelected?'cestlui':''">{{ client.name }}</td>
    <td >{{ client.comment | uppercase}}</td>
    <td>{{ client.ca |currency:"EUR"}}</td>
    <td appState [state]="client.state"><select (change)="changeState(client,$event)" >
        <option *ngFor="let state of states" [value]="state" [selected]="state == client.state">
          {{state}}
        </option>
    </select>
    </td>
    <td>
      <app-icon-update routerLink="edit/{{client.id}}" ></app-icon-update>
      <app-icon-delete (click)="deleteClient(client)"></app-icon-delete>
      <app-btn route="/orders/recap/{{client.id}}" label="commandes"></app-btn>
    </td>

  </tr>
</app-table-light>
<app-btn route="/clients/add" label="Ajouter un client"></app-btn>

<app-btn [action]="true" label="error" (clicked)="errorMsg()"></app-btn>
<app-btn [action]="true" label="info" (clicked)="infoMsg()"></app-btn>
<app-btn [action]="true" label="warning" (clicked)="warningMsg()"></app-btn>
<app-btn [action]="true" label="success" (clicked)="successMsg()"></app-btn>


</app-template-b>
