@import 'theme';
@import 'fonts';
app-text {
  display: block;
  padding: 10px;
}

h1, h2 , h3 ,p , span , i , li {
  color: yellow;
}

.pages {
  h1, h2 , h3 ,p , span , i , li {
    color: $dark-color;
  }
}

h3 {
  font-size:$h3-fz;
}
h2 {
  font-size:$h2-fz;
}
h1 {
  font-size:$h1-fz;
}

p,span,i,li {
  font-size:$regular-fz;
}
