<app-template-a title="Commandes" subtitle="Liste">
  <app-table-dark class="main-content" [headers]="tableHeaders" *ngIf="collectionOrders$ | async as orderList">
    <tr *ngFor="let order of orderList">
      <td>{{ order.typePresta }}</td>
      <td [routerLink]="['/clients',order.client]" routerLinkActive="router-link-active" >{{ order.client | uppercase}}</td>
      <td>{{ order.nbJours }}</td>
      <td>{{ order.tjmHt }}</td>
      <td>{{ order | total |currency:'EUR'}}</td>
      <td>{{ order|total:'ttc'|currency:'EUR' }}</td>
      <td appState [state]="order.state"><select (change)="changeState(order,$event)" >
          <option *ngFor="let state of states" [value]="state" [selected]="state == order.state">
            {{state}}
          </option>
      </select>
      </td>
    </tr>
  </app-table-dark>
  <!--div *ngIf="!orderList">
    ************** Chargement en cours **************************
  </div-->
<div class="button-group">
  <app-btn href="http://www.google.com" label="Aller sur google"></app-btn>
  <app-btn route="/clients" label="Aller sur la page client"></app-btn>
  <app-btn [action]="true" label="Test Action" clicked="testButton()" ></app-btn>
</div>
</app-template-a>

