<app-table-light [headers]="tableHeaders" *ngIf="orderList">
  <tr *ngFor="let order of orderList">
    <td>{{ order.typePresta }}</td>
    <td>{{ order.client | uppercase}}</td>
    <td>{{ order.nbJours }}</td>
    <td>{{ order.tjmHt }}</td>
    <td>{{ order | total |currency:'EUR'}}</td>
    <td>{{ order|total:'ttc'|currency:'EUR' }}</td>
    <td appState [state]="order.state"><select (change)="changeState(order,$event)" >
        <option *ngFor="let state of states" [value]="state" [selected]="state == order.state">
          {{state}}
        </option>
    </select>
    </td>
  </tr>
</app-table-light>
<div *ngIf="!orderList">
  ************** Chargement en cours **************************
</div>

{{orderList | json}}
