/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
body {
  animation:hue-anim 5s  alternate infinite;
}

@keyframes hue-anim {
  0%   { filter: hue-rotate(0deg);}
  100% { filter: hue-rotate(100deg); }
}
